@font-face {
    font-family: 'DS Kork';
    src: url('DSKork.woff2') format('woff2'),
        url('DSKork.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

