.parent {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    }

.cell {
    /* background-color: blue; */
    /* background: radial-gradient(circle, rgba(255,215,0,1) 0%, rgba(14,224,228,1) 71%, rgba(0,64,255,1) 100%); */
    border-radius: 0px;
    border: 3px solid black;
    transition: border-radius ease-in 1s;
    justify-content: center;

    }

.cell:hover {
        border-radius: 0px;
        border: 100px dashed black;
        /* background-color: black; */
    }
    .cell:active {
        border-radius: 0px;
        /* border: 1px dashed black; */
        background-color: blue; 
    }

    .cell:visited {
        border-radius: 100px;
        /* border: 1px dashed black; */
        background-color: rgb(0, 255, 0); 
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    .div6 { grid-area: 1 / 6 / 2 / 7; }
    .div7 { grid-area: 1 / 7 / 2 / 8; }
    .div8 { grid-area: 1 / 8 / 2 / 9; }
    .div9 { grid-area: 1 / 9 / 2 / 10; }
    .div10 { grid-area: 1 / 10 / 2 / 11; }
    .div11 { grid-area: 1 / 11 / 2 / 12; }
    .div12 { grid-area: 1 / 12 / 2 / 13; }
    .div13 { grid-area: 1 / 13 / 2 / 14; }
    .div14 { grid-area: 1 / 14 / 2 / 15; }
    .div15 { grid-area: 1 / 15 / 2 / 16; }
    .div16 { grid-area: 1 / 16 / 2 / 17; }
    .div17 { grid-area: 1 / 17 / 2 / 18; }
    .div18 { grid-area: 1 / 18 / 2 / 19; }
    .div19 { grid-area: 1 / 19 / 2 / 20; }
    .div20 { grid-area: 1 / 20 / 2 / 21; }
    .div21 { grid-area: 2 / 1 / 3 / 2; }
    .div22 { grid-area: 2 / 2 / 3 / 3; }
    .div23 { grid-area: 2 / 3 / 3 / 4; }
    .div24 { grid-area: 2 / 4 / 3 / 5; }
    .div25 { grid-area: 2 / 5 / 3 / 6; }
    .div26 { grid-area: 2 / 6 / 3 / 7; }
    .div27 { grid-area: 2 / 7 / 3 / 8; }
    .div28 { grid-area: 2 / 8 / 3 / 9; }
    .div29 { grid-area: 2 / 9 / 3 / 10; }
    .div30 { grid-area: 2 / 10 / 3 / 11; }
    .div31 { grid-area: 2 / 11 / 3 / 12; }
    .div32 { grid-area: 2 / 12 / 3 / 13; }
    .div33 { grid-area: 2 / 13 / 3 / 14; }
    .div34 { grid-area: 2 / 14 / 3 / 15; }
    .div35 { grid-area: 2 / 15 / 3 / 16; }
    .div36 { grid-area: 2 / 16 / 3 / 17; }
    .div37 { grid-area: 2 / 17 / 3 / 18; }
    .div38 { grid-area: 2 / 18 / 3 / 19; }
    .div39 { grid-area: 2 / 19 / 3 / 20; }
    .div40 { grid-area: 2 / 20 / 3 / 21; }
    .div41 { grid-area: 3 / 1 / 4 / 2; }
    .div42 { grid-area: 3 / 2 / 4 / 3; }
    .div43 { grid-area: 3 / 3 / 4 / 4; }
    .div44 { grid-area: 3 / 4 / 4 / 5; }
    .div45 { grid-area: 3 / 5 / 4 / 6; }
    .div46 { grid-area: 3 / 6 / 4 / 7; }
    .div47 { grid-area: 3 / 7 / 4 / 8; }
    .div48 { grid-area: 3 / 8 / 4 / 9; }
    .div49 { grid-area: 3 / 9 / 4 / 10; }
    .div50 { grid-area: 3 / 10 / 4 / 11; }
    .div51 { grid-area: 3 / 11 / 4 / 12; }
    .div52 { grid-area: 3 / 12 / 4 / 13; }
    .div53 { grid-area: 3 / 13 / 4 / 14; }
    .div54 { grid-area: 3 / 14 / 4 / 15; }
    .div55 { grid-area: 3 / 15 / 4 / 16; }
    .div56 { grid-area: 3 / 16 / 4 / 17; }
    .div57 { grid-area: 3 / 17 / 4 / 18; }
    .div58 { grid-area: 3 / 18 / 4 / 19; }
    .div59 { grid-area: 3 / 19 / 4 / 20; }
    .div60 { grid-area: 3 / 20 / 4 / 21; }
    .div61 { grid-area: 4 / 1 / 5 / 2; }
    .div62 { grid-area: 4 / 2 / 5 / 3; }
    .div63 { grid-area: 4 / 3 / 5 / 4; }
    .div64 { grid-area: 4 / 4 / 5 / 5; }
    .div65 { grid-area: 4 / 5 / 5 / 6; }
    .div66 { grid-area: 4 / 6 / 5 / 7; }
    .div67 { grid-area: 4 / 7 / 5 / 8; }
    .div68 { grid-area: 4 / 8 / 5 / 9; }
    .div69 { grid-area: 4 / 9 / 5 / 10; }
    .div70 { grid-area: 4 / 10 / 5 / 11; }
    .div71 { grid-area: 4 / 11 / 5 / 12; }
    .div72 { grid-area: 4 / 12 / 5 / 13; }
    .div73 { grid-area: 4 / 13 / 5 / 14; }
    .div74 { grid-area: 4 / 14 / 5 / 15; }
    .div75 { grid-area: 4 / 15 / 5 / 16; }
    .div76 { grid-area: 4 / 16 / 5 / 17; }
    .div77 { grid-area: 4 / 17 / 5 / 18; }
    .div78 { grid-area: 4 / 18 / 5 / 19; }
    .div79 { grid-area: 4 / 19 / 5 / 20; }
    .div80 { grid-area: 4 / 20 / 5 / 21; }
    .div81 { grid-area: 5 / 1 / 6 / 2; }
    .div82 { grid-area: 5 / 2 / 6 / 3; }
    .div83 { grid-area: 5 / 3 / 6 / 4; }
    .div84 { grid-area: 5 / 4 / 6 / 5; }
    .div85 { grid-area: 5 / 5 / 6 / 6; }
    .div86 { grid-area: 5 / 6 / 6 / 7; }
    .div87 { grid-area: 5 / 7 / 6 / 8; }
    .div88 { grid-area: 5 / 8 / 6 / 9; }
    .div89 { grid-area: 5 / 9 / 6 / 10; }
    .div90 { grid-area: 5 / 10 / 6 / 11; }
    .div91 { grid-area: 5 / 11 / 6 / 12; }
    .div92 { grid-area: 5 / 12 / 6 / 13; }
    .div93 { grid-area: 5 / 13 / 6 / 14; }
    .div94 { grid-area: 5 / 14 / 6 / 15; }
    .div95 { grid-area: 5 / 15 / 6 / 16; }
    .div96 { grid-area: 5 / 16 / 6 / 17; }
    .div97 { grid-area: 5 / 17 / 6 / 18; }
    .div98 { grid-area: 5 / 18 / 6 / 19; }
    .div99 { grid-area: 5 / 19 / 6 / 20; }
    .div100 { grid-area: 5 / 20 / 6 / 21; }
    .div101 { grid-area: 6 / 1 / 7 / 2; }
    .div102 { grid-area: 6 / 2 / 7 / 3; }
    .div103 { grid-area: 6 / 3 / 7 / 4; }
    .div104 { grid-area: 6 / 4 / 7 / 5; }
    .div105 { grid-area: 6 / 5 / 7 / 6; }
    .div106 { grid-area: 6 / 6 / 7 / 7; }
    .div107 { grid-area: 6 / 7 / 7 / 8; }
    .div108 { grid-area: 6 / 8 / 7 / 9; }
    .div109 { grid-area: 6 / 9 / 7 / 10; }
    .div110 { grid-area: 6 / 10 / 7 / 11; }
    .div111 { grid-area: 6 / 11 / 7 / 12; }
    .div112 { grid-area: 6 / 12 / 7 / 13; }
    .div113 { grid-area: 6 / 13 / 7 / 14; }
    .div114 { grid-area: 6 / 14 / 7 / 15; }
    .div115 { grid-area: 6 / 15 / 7 / 16; }
    .div116 { grid-area: 6 / 16 / 7 / 17; }
    .div117 { grid-area: 6 / 17 / 7 / 18; }
    .div118 { grid-area: 6 / 18 / 7 / 19; }
    .div119 { grid-area: 6 / 19 / 7 / 20; }
    .div120 { grid-area: 6 / 20 / 7 / 21; }
    .div121 { grid-area: 7 / 1 / 8 / 2; }
    .div122 { grid-area: 7 / 2 / 8 / 3; }
    .div123 { grid-area: 7 / 3 / 8 / 4; }
    .div124 { grid-area: 7 / 4 / 8 / 5; }
    .div125 { grid-area: 7 / 5 / 8 / 6; }
    .div126 { grid-area: 7 / 6 / 8 / 7; }
    .div127 { grid-area: 7 / 7 / 8 / 8; }
    .div128 { grid-area: 7 / 8 / 8 / 9; }
    .div129 { grid-area: 7 / 9 / 8 / 10; }
    .div130 { grid-area: 7 / 10 / 8 / 11; }
    .div131 { grid-area: 7 / 11 / 8 / 12; }
    .div132 { grid-area: 7 / 12 / 8 / 13; }
    .div133 { grid-area: 7 / 13 / 8 / 14; }
    .div134 { grid-area: 7 / 14 / 8 / 15; }
    .div135 { grid-area: 7 / 15 / 8 / 16; }
    .div136 { grid-area: 7 / 16 / 8 / 17; }
    .div137 { grid-area: 7 / 17 / 8 / 18; }
    .div138 { grid-area: 7 / 18 / 8 / 19; }
    .div139 { grid-area: 7 / 19 / 8 / 20; }
    .div140 { grid-area: 7 / 20 / 8 / 21; }
    .div141 { grid-area: 8 / 1 / 9 / 2; }
    .div142 { grid-area: 8 / 2 / 9 / 3; }
    .div143 { grid-area: 8 / 3 / 9 / 4; }
    .div144 { grid-area: 8 / 4 / 9 / 5; }
    .div145 { grid-area: 8 / 5 / 9 / 6; }
    .div146 { grid-area: 8 / 6 / 9 / 7; }
    .div147 { grid-area: 8 / 7 / 9 / 8; }
    .div148 { grid-area: 8 / 8 / 9 / 9; }
    .div149 { grid-area: 8 / 9 / 9 / 10; }
    .div150 { grid-area: 8 / 10 / 9 / 11; }
    .div151 { grid-area: 8 / 11 / 9 / 12; }
    .div152 { grid-area: 8 / 12 / 9 / 13; }
    .div153 { grid-area: 8 / 13 / 9 / 14; }
    .div154 { grid-area: 8 / 14 / 9 / 15; }
    .div155 { grid-area: 8 / 15 / 9 / 16; }
    .div156 { grid-area: 8 / 16 / 9 / 17; }
    .div157 { grid-area: 8 / 17 / 9 / 18; }
    .div158 { grid-area: 8 / 18 / 9 / 19; }
    .div159 { grid-area: 8 / 19 / 9 / 20; }
    .div160 { grid-area: 8 / 20 / 9 / 21; }
    .div161 { grid-area: 9 / 1 / 10 / 2; }
    .div162 { grid-area: 9 / 2 / 10 / 3; }
    .div163 { grid-area: 9 / 3 / 10 / 4; }
    .div164 { grid-area: 9 / 4 / 10 / 5; }
    .div165 { grid-area: 9 / 5 / 10 / 6; }
    .div166 { grid-area: 9 / 6 / 10 / 7; }
    .div167 { grid-area: 9 / 7 / 10 / 8; }
    .div168 { grid-area: 9 / 8 / 10 / 9; }
    .div169 { grid-area: 9 / 9 / 10 / 10; }
    .div170 { grid-area: 9 / 10 / 10 / 11; }
    .div171 { grid-area: 9 / 11 / 10 / 12; }
    .div172 { grid-area: 9 / 12 / 10 / 13; }
    .div173 { grid-area: 9 / 13 / 10 / 14; }
    .div174 { grid-area: 9 / 14 / 10 / 15; }
    .div175 { grid-area: 9 / 15 / 10 / 16; }
    .div176 { grid-area: 9 / 16 / 10 / 17; }
    .div177 { grid-area: 9 / 17 / 10 / 18; }
    .div178 { grid-area: 9 / 18 / 10 / 19; }
    .div179 { grid-area: 9 / 19 / 10 / 20; }
    .div180 { grid-area: 9 / 20 / 10 / 21; }
    .div181 { grid-area: 10 / 1 / 11 / 2; }
    .div182 { grid-area: 10 / 2 / 11 / 3; }
    .div183 { grid-area: 10 / 3 / 11 / 4; }
    .div184 { grid-area: 10 / 4 / 11 / 5; }
    .div185 { grid-area: 10 / 5 / 11 / 6; }
    .div186 { grid-area: 10 / 6 / 11 / 7; }
    .div187 { grid-area: 10 / 7 / 11 / 8; }
    .div188 { grid-area: 10 / 8 / 11 / 9; }
    .div189 { grid-area: 10 / 9 / 11 / 10; }
    .div190 { grid-area: 10 / 10 / 11 / 11; }
    .div191 { grid-area: 10 / 11 / 11 / 12; }
    .div192 { grid-area: 10 / 12 / 11 / 13; }
    .div193 { grid-area: 10 / 13 / 11 / 14; }
    .div194 { grid-area: 10 / 14 / 11 / 15; }
    .div195 { grid-area: 10 / 15 / 11 / 16; }
    .div196 { grid-area: 10 / 16 / 11 / 17; }
    .div197 { grid-area: 10 / 17 / 11 / 18; }
    .div198 { grid-area: 10 / 18 / 11 / 19; }
    .div199 { grid-area: 10 / 19 / 11 / 20; }
    .div200 { grid-area: 10 / 20 / 11 / 21; }
    .div201 { grid-area: 11 / 1 / 12 / 2; }
    .div202 { grid-area: 11 / 2 / 12 / 3; }
    .div203 { grid-area: 11 / 3 / 12 / 4; }
    .div204 { grid-area: 11 / 4 / 12 / 5; }
    .div205 { grid-area: 11 / 5 / 12 / 6; }
    .div206 { grid-area: 11 / 6 / 12 / 7; }
    .div207 { grid-area: 11 / 7 / 12 / 8; }
    .div208 { grid-area: 11 / 8 / 12 / 9; }
    .div209 { grid-area: 11 / 9 / 12 / 10; }
    .div210 { grid-area: 11 / 10 / 12 / 11; }
    .div211 { grid-area: 11 / 11 / 12 / 12; }
    .div212 { grid-area: 11 / 12 / 12 / 13; }
    .div213 { grid-area: 11 / 13 / 12 / 14; }
    .div214 { grid-area: 11 / 14 / 12 / 15; }
    .div215 { grid-area: 11 / 15 / 12 / 16; }
    .div216 { grid-area: 11 / 16 / 12 / 17; }
    .div217 { grid-area: 11 / 17 / 12 / 18; }
    .div218 { grid-area: 11 / 18 / 12 / 19; }
    .div219 { grid-area: 11 / 19 / 12 / 20; }
    .div220 { grid-area: 11 / 20 / 12 / 21; }
    .div221 { grid-area: 12 / 1 / 13 / 2; }
    .div222 { grid-area: 12 / 2 / 13 / 3; }
    .div223 { grid-area: 12 / 3 / 13 / 4; }
    .div224 { grid-area: 12 / 4 / 13 / 5; }
    .div225 { grid-area: 12 / 5 / 13 / 6; }
    .div226 { grid-area: 12 / 6 / 13 / 7; }
    .div227 { grid-area: 12 / 7 / 13 / 8; }
    .div228 { grid-area: 12 / 8 / 13 / 9; }
    .div229 { grid-area: 12 / 9 / 13 / 10; }
    .div230 { grid-area: 12 / 10 / 13 / 11; }
    .div231 { grid-area: 12 / 11 / 13 / 12; }
    .div232 { grid-area: 12 / 12 / 13 / 13; }
    .div233 { grid-area: 12 / 13 / 13 / 14; }
    .div234 { grid-area: 12 / 14 / 13 / 15; }
    .div235 { grid-area: 12 / 15 / 13 / 16; }
    .div236 { grid-area: 12 / 16 / 13 / 17; }
    .div237 { grid-area: 12 / 17 / 13 / 18; }
    .div238 { grid-area: 12 / 18 / 13 / 19; }
    .div239 { grid-area: 12 / 19 / 13 / 20; }
    .div240 { grid-area: 12 / 20 / 13 / 21; }
    .div241 { grid-area: 13 / 1 / 14 / 2; }
    .div242 { grid-area: 13 / 2 / 14 / 3; }
    .div243 { grid-area: 13 / 3 / 14 / 4; }
    .div244 { grid-area: 13 / 4 / 14 / 5; }
    .div245 { grid-area: 13 / 5 / 14 / 6; }
    .div246 { grid-area: 13 / 6 / 14 / 7; }
    .div247 { grid-area: 13 / 7 / 14 / 8; }
    .div248 { grid-area: 13 / 8 / 14 / 9; }
    .div249 { grid-area: 13 / 9 / 14 / 10; }
    .div250 { grid-area: 13 / 10 / 14 / 11; }
    .div251 { grid-area: 13 / 11 / 14 / 12; }
    .div252 { grid-area: 13 / 12 / 14 / 13; }
    .div253 { grid-area: 13 / 13 / 14 / 14; }
    .div254 { grid-area: 13 / 14 / 14 / 15; }
    .div255 { grid-area: 13 / 15 / 14 / 16; }
    .div256 { grid-area: 13 / 16 / 14 / 17; }
    .div257 { grid-area: 13 / 17 / 14 / 18; }
    .div258 { grid-area: 13 / 18 / 14 / 19; }
    .div259 { grid-area: 13 / 19 / 14 / 20; }
    .div260 { grid-area: 13 / 20 / 14 / 21; }
    .div261 { grid-area: 14 / 1 / 15 / 2; }
    .div262 { grid-area: 14 / 2 / 15 / 3; }
    .div263 { grid-area: 14 / 3 / 15 / 4; }
    .div264 { grid-area: 14 / 4 / 15 / 5; }
    .div265 { grid-area: 14 / 5 / 15 / 6; }
    .div266 { grid-area: 14 / 6 / 15 / 7; }
    .div267 { grid-area: 14 / 7 / 15 / 8; }
    .div268 { grid-area: 14 / 8 / 15 / 9; }
    .div269 { grid-area: 14 / 9 / 15 / 10; }
    .div270 { grid-area: 14 / 10 / 15 / 11; }
    .div271 { grid-area: 14 / 11 / 15 / 12; }
    .div272 { grid-area: 14 / 12 / 15 / 13; }
    .div273 { grid-area: 14 / 13 / 15 / 14; }
    .div274 { grid-area: 14 / 14 / 15 / 15; }
    .div275 { grid-area: 14 / 15 / 15 / 16; }
    .div276 { grid-area: 14 / 16 / 15 / 17; }
    .div277 { grid-area: 14 / 17 / 15 / 18; }
    .div278 { grid-area: 14 / 18 / 15 / 19; }
    .div279 { grid-area: 14 / 19 / 15 / 20; }
    .div280 { grid-area: 14 / 20 / 15 / 21; }
    .div281 { grid-area: 15 / 1 / 16 / 2; }
    .div282 { grid-area: 15 / 2 / 16 / 3; }
    .div283 { grid-area: 15 / 3 / 16 / 4; }
    .div284 { grid-area: 15 / 4 / 16 / 5; }
    .div285 { grid-area: 15 / 5 / 16 / 6; }
    .div286 { grid-area: 15 / 6 / 16 / 7; }
    .div287 { grid-area: 15 / 7 / 16 / 8; }
    .div288 { grid-area: 15 / 8 / 16 / 9; }
    .div289 { grid-area: 15 / 9 / 16 / 10; }
    .div290 { grid-area: 15 / 10 / 16 / 11; }
    .div291 { grid-area: 15 / 11 / 16 / 12; }
    .div292 { grid-area: 15 / 12 / 16 / 13; }
    .div293 { grid-area: 15 / 13 / 16 / 14; }
    .div294 { grid-area: 15 / 14 / 16 / 15; }
    .div295 { grid-area: 15 / 15 / 16 / 16; }
    .div296 { grid-area: 15 / 16 / 16 / 17; }
    .div297 { grid-area: 15 / 17 / 16 / 18; }
    .div298 { grid-area: 15 / 18 / 16 / 19; }
    .div299 { grid-area: 15 / 19 / 16 / 20; }
    .div300 { grid-area: 15 / 20 / 16 / 21; }